@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This WebApp will help you create SQL queries for your different datasources.</p>
    <p>Click on the supported datasources at the top and see the magic.</p>
</div>
