@page
@model C1DataQueryApp.Pages.DataQueryGenerator.JsonDataModel
@{
}
<h1>Json Data</h1>
<div class="container" onload="jsonDataContainerLoaded()">
    <div class="row">
        <div style="position:relative;">
        <a class='btn btn-primary' href='javascript:;'>
            Choose Json File...
            <input type="file" accept=".json" class="file-button" name="file_source" size="40"  onchange='RenderJsonTree(this)'>
        </a>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
</div>

       
    </div>
    <div class="row">
        <div class="col-sm wj-treeview" id="fieldsTree"></div>
        <div class="col-sm fieldsParent wj-treeview">
            <div class="row fieldsDiv" id="fields" ondragover="allowDrop(event)" ondrop="dropJsonKey(event)">
                
            </div>
            
         </div>
    </div>
    <div class="row" id="jsonString">


    </div>
    <div class="row">
        <div class="col-sm">
            <div class="row">
            <div class="col-sm">
                <button class="btn btn-primary">Generate SQL</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary" onclick="generateSelectedData()">View Data</button>
            </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
