html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.file-button {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background-color: transparent;
    color: transparent;
}

.jsontree
{
    border:solid;
    height:200px;
    overflow-y:scroll;
}
.fieldsParent {
    border: solid;
    height: 200px;
    overflow-y: scroll;
}
.fieldsDiv {
    border: solid;
    height: 500px;
    overflow-y: scroll;
    overflow-x:scroll;
}

.fieldsDiv button
{
    height:50px;
    margin:2px;
}
.wj-treeview {
    display: block;
    height: 350px;
    font-size: 120%;
    margin-bottom: 8px;
    padding: 6px;
    background: #f0f0f0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}